.profile-avatar {
    width: 100%;
    padding-bottom: 10px;
}

.profile-avatar .has-dflex-center {
    display: flex !important;
    justify-content: center !important;
}

.profile-avatar .lx-row {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
}

.profile-avatar .align-stretch {
    align-items: stretch !important;
}

.profile-avatar .profile-pic {
    width: auto;
    margin: auto;
    padding: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #171A21;
    background-color: rgba(51, 51, 51, 0.835);
    margin-top: 20px;
    margin-left: 80px;
}

.profile-avatar .profile-pic .username {
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    color: white;
}

.profile-avatar .profile-pic .pic {
    width: 16rem;
    height: 16rem;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #171A21;
    /* background-color: #171A21; */
}

.profile-avatar .profile-pic .pic .lx-btn {
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

.profile-avatar .profile-pic .pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-avatar .profile-pic .pic:focus .lx-btn,
.profile-avatar .profile-pic .pic:focus-within .lx-btn,
.profile-avatar .profile-pic .pic:hover .lx-btn {
    opacity: 1;
    display: flex;
}

.profile-avatar #change-avatar{
    display: none;
}